<!DOCTYPE html>
<html>
  <head>
    <title>Register for <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
<body>
  <h1>Add a Book to <%=shopData.shopName%></h1>
<form method="POST" action="/books/addbook">
  <label for="title">Book Title:</label>
  <input type="text" id="title" name="title" required />
  <br />
  <label for="Price">Price:</label>
  <input type="text" id="author" name="author" required />
  <br />
  <input type="submit" value="Add Book" />
</form>
</body>

</html>