<!doctype html>
<html>
  <head>
    <title><%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Here's What we sell:</h1>
    <ul>
    <li>Brighton Rock £20.25</li>
    <li>Brave New World £25.00</li>
    <li>Animal Farm £12.99</li>
    <li>The Hunger Games £12.99</li>
    <li>Divergent £13.99</li>
</ul>
  </body>
</html>